<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Johanna
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text >
  
    <p> {{shoeRecup?.shoe.name}} {{shoeRecup?.shoe.size}} </p>
       <ion-img [src]="shoeRecup?.shoe.photo"> </ion-img> 

    <form #addForm="ngForm" (ngSubmit)="updateShoe(addForm.value)">
      <ion-input type="hidden" name="_id" [(ngModel)]="shoeRecup?.shoe._id"></ion-input>
      <ion-label for="name">Nom de la chaussure</ion-label>
      <ion-input type="text" name="name" placeholder="{{shoeRecup?.shoe.name}}" class="nom" [(ngModel)]="name"></ion-input>
      <ion-label for="size">Taille de la chaussure</ion-label>
      <ion-input type="text" name="size" placeholder="{{shoeRecup?.shoe.size}}" class="taille" [(ngModel)]="size"></ion-input>
      <ion-label for="size">Photo de la chaussure</ion-label>
      <ion-input type="text" name="photo" placeholder="{{shoeRecup?.shoe.photo}}" class="taille" [(ngModel)]="photo"></ion-input>
      <ion-button type="submit" >Envoyer</ion-button>
      <ion-button type="button" [routerLink]="['/tabs/tab1']">Retour</ion-button>
      
    </form>
  </ion-text>
  
</ion-content>
