<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ajouter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #addForm="ngForm" (ngSubmit)="createShoe(addForm.value)">
    <ion-label for="name">Nom de la chaussure</ion-label>
    <ion-input type="text" name="name" placeholder="Nom" class="nom" [(ngModel)]="name"></ion-input>
    <ion-label for="size">Taille de la chaussure</ion-label>
    <ion-input type="text" name="size" placeholder="Taille" class="taille" [(ngModel)]="size"></ion-input>
    <ion-label for="photo">Photo de la chaussure</ion-label>
    <ion-input type="text" name="photo" placeholder="Photo de la chaussure" class="photo" [(ngModel)]="photo">
      <ion-fab-button (click)="addPhotoGalery()">
        <ion-icon name="camera">
        </ion-icon>
      </ion-fab-button>
  </ion-input>
    <ion-button type="submit">Envoyer</ion-button>
  </form>

</ion-content>
