<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title horizontal="center" color="success" size="large">
      ShoesLand
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title horizontal="center" color="dark" size="large">
   Liste des chaussures
  </ion-title>

  <ion-grid>
    <ion-row>
      <!-- boucle qui affiche toutes les chaussures -->
      <ion-col size="6" *ngFor="let shoe of result?.listShoes; index as position">
       <p> {{shoe.name}} {{shoe.size}} </p>
       <ion-img [src]="shoe.photo"> </ion-img>       
       <ion-button (click)="delete(shoe._id)">Supprimer</ion-button>
         <!--router link permet de changer de page  -->
       <ion-button (click)="detailOneShoe(shoe._id)" >Détail</ion-button>  
       
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
